.contact-list-items {
    height: calc(100% - 120px);
    overflow-y: scroll;
}

.contact-list-items::-webkit-scrollbar {
    width: 6px!important;
    height: 6px!important;
}

.contact-list-items::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
}

.contact-list-items::-webkit-scrollbar-track {
    background: hsla(0, 0%, 100%, .08);
}

.contact-list-item {
    height: 70px;
    display: flex;
    align-items: center;
}

.contact-list-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.info-wrapper {
    height: 100%;
    flex: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px 0;
    padding-right: 20px;
    box-sizing: border-box;
    align-items: center;
}

.contact-list-item img {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 50%;
}

.contact-list-item .info-wrapper h3 {
    font-size: 16px;
    text-transform: capitalize;
}

.contact-list-item .info-wrapper h5 {
    font-size: 13px;
    grid-row: 2;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.6);
}

span {
    color: rgba(0, 0, 0, 0.6);
    justify-self: right;
    font-size: 12px;
}
