.contact-list-container {
    height: calc(100vh - 40px);
    background: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}

header {
    height: 60px;
    background: #ededed;
    display: grid;
    grid-template-columns: 1fr max-content max-content max-content;
    align-items: center;
    grid-column-gap: 6px;
    padding-right: 10px;
}

header img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border-radius: 50%;
}

.search-container {
    padding: 12px 0;
    background: #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.search {
    width: 95%;
    height: 35px;
    margin: auto;
    border-radius: 18px;
    display: grid;
    grid-template-columns: max-content 1fr;
    background: #fff;
}

header svg {
    cursor: pointer;
    padding: 8px;
}

.search svg {
    margin: 8.5px;
}

input {
    height: 35px;
    border: 0;
    outline: 0;
    border-radius: 18px;
    color: #999;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    top: 13px;
    transition: opacity .14s linear;
    white-space: nowrap;
    z-index: 100;
}
